body {
  margin: 0;
  padding: 0;
  background-color: #262626;
}

section {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  height: 100vh;
}

h3 {
  color: #FFF;
  margin-bottom: 100px;
}
.sec-1 {
  position: relative;
}

.hexagon {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 350px;
  height: 200px;
  background-color: #FFF;
  transform: translate(-50%, -50%);
}

.hexagon:before, 
.hexagon:after {
  position: absolute;
  content: '';
  width: 100%;
  height: 100%;
  background-color: #FFF;
}

.hexagon:before {
  transform: rotate(60deg);
}

.hexagon:after {
  transform: rotate(-60deg);
} 

.hexagon,
.hexagon:before,
.hexagon:after {
  border: 1px solid rgba(220, 20, 60, 0.3);
  background-color: rgba(220, 20, 60, 0.3);
}

.hexagon h1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: #FFF;
  z-index: 1;
  margin: 0;
}

/* sec-2 */

.sec-2 {
  position: relative;
  background-color: #FFF;
}
.sec-2 > h3 {
  color: #262626;
}

.container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.wave {
  color: #FFF;
  width: 100px;
  height: 100px;
  background-color: orange;
  font-size: 60px;
  text-align: center;
  line-height: 100px;
  border-radius: 50px;
}

.wave:before,
.wave:after {
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  border: 3px solid orange;
  width: inherit;
  height: inherit;
  box-sizing: border-box;
  border-radius: 50%;
  opacity: 0;
  animation: ani 1s linear infinite;
}
.wave:after {
  animation-delay: 0.5s;
}

@keyframes ani {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.7;
  }
  100% {
    opacity: 0;
    transform: scale(1.7);
  }
}

/* sec-3 */

.sec-3 {
  position: relative;
  height: 100vh;
}

ul.nav {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 700px;
  margin: 0;
  padding: 10px 0 0 0;
  background-color: #FFF;
  border-radius: 5px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

ul.nav li {
  list-style: none;
  display: inline-block;
}

