body {
  margin: 0;
  padding: 0;
  background-color: #262626;
}

section {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  height: 100vh;
}

h3 {
  color: #FFF;
  margin-bottom: 100px;
}
.sec-1 {
  position: relative;
}

.hexagon {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 350px;
  height: 200px;
  background-color: #FFF;
  transform: translate(-50%, -50%);
}

.hexagon:before, 
.hexagon:after {
  position: absolute;
  content: '';
  width: 100%;
  height: 100%;
  background-color: #FFF;
}

.hexagon:before {
  transform: rotate(60deg);
}

.hexagon:after {
  transform: rotate(-60deg);
} 

.hexagon,
.hexagon:before,
.hexagon:after {
  border: 1px solid rgba(220, 20, 60, 0.3);
  background-color: rgba(220, 20, 60, 0.3);
}

.hexagon h1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: #FFF;
  z-index: 1;
  margin: 0;
}

/* sec-2 */

.sec-2 {
  position: relative;
  background-color: #FFF;
  font-size: 24px;
}
.sec-2 > h3 {
  color: #262626;
}

.sec-2 .container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.wave {
  color: #FFF;
  width: 100px;
  height: 100px;
  background-color: orange;
  font-size: 60px;
  text-align: center;
  line-height: 100px;
  border-radius: 50px;
}

.wave:before,
.wave:after {
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  border: 3px solid orange;
  width: inherit;
  height: inherit;
  box-sizing: border-box;
  border-radius: 50%;
  opacity: 0;
  animation: ani 1s linear infinite;
}
.wave:after {
  animation-delay: 0.5s;
}

@keyframes ani {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.7;
  }
  100% {
    opacity: 0;
    transform: scale(1.7);
  }
}

/* sec-3 */

.sec-3 {
  position: relative;
  height: 100vh;
  background-color: #45B649;
}

ul.nav {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 700px;
  margin: 0;
  padding: 10px 0 0 0;
  background-color: #FFF;
  border-radius: 5px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  text-align: center;
}

ul.nav li {
  display: inline-block;
  list-style: none;
  overflow: hidden;
}

ul.nav li a {
  position: relative;
  display: block;
  color: #45B649;
  text-decoration: none;
  margin: 0 12px;
}

ul.nav li a:before {
  position: absolute;
  content: attr(data-link-alt);
  top: 100%;
  left: 0;
  opacity: 0;
  transition: 0.5s;
}

ul.nav li a:hover:before {
  opacity: 1;
  top: 0;
}

ul.nav li a span {
  display: block;
  color: #262626;
  transition: 0.5s;
}

ul.nav li a:hover span {
  transform: translateY(-100%);
}

/* sec-4 */

.sec-4 {
  position: relative;
  background-color: #fff;
}

.tooltip {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.tooltip i {
  color: dodgerblue;
  font-size: 70px;
}

.tooltip:hover .tooltip-text {
  opacity: 1;
}
.tooltip-text {
  position: absolute;
  top: -200px;
  left: -135px;
  display: inline-block;
  width: 300px;
  font-size: 18px;
  color: #FFF;
  background-color: #262626;
  text-align: center;
  border-radius: 5px;
  padding: 5px 15px;
  opacity: 0;
  transition: 0.5s;
}

.tooltip-text:after {
  position: absolute;
  left: 50%;
  bottom: -10px;
  transform: translateX(-50%);
  content: '';
  border-width: 5px;
  border-style: solid;
  border-color: #262626 transparent transparent;
}

.sec-4 h3 {
  color: #000;
}

/* sec-5 */

.sec-5 {
  position: relative;
  align-items: center;
}

.galleryList {
  display: block;
  width: 80%;
  margin: 0 auto;
}

.sec-5 ul {
  display: flex;
  font-size: 0;
  padding: 0;
}

.sec-5 ul > li {
  flex: 3;
  display: inline-block;
  vertical-align: top;
  margin: 10px;
}

.sec-5 ul > li > a {
  display: block;
  width: 100%;
  text-decoration: none;
}

.sec-5 ul > li > a .screen {
  position: relative;
  overflow: hidden;
}

.sec-5 ul > li > a .screen::after {
  position: absolute;
  display: block;
  content: '';
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
  z-index: 1;
  opacity: 0;
  transition: all .35s;
}

.sec-5 ul > li > a:hover .screen::after {
  opacity: 1;
}

.sec-5 ul > li > a .screen .top {
  position: absolute;
  left: 30px;
  bottom: 150%;
  color: #FFF;
  font-size: 26px;
  font-weight: 900;
  z-index: 2;
  transition: all .35s;
}

.sec-5 ul > li > a:hover .top {
  bottom: 52%;
}

.sec-5 ul > li:nth-child(3) > a:hover .top {
  bottom: 15%;
}

.sec-5 ul > li > a .bottom {
  position: absolute;
  left: 30px;
  bottom: -150%;
  color: #FFF;
  font-size: 16px;
  z-index: 2;
  transition: all .35s;
}

.sec-5 ul > li > a:hover .bottom {
  bottom: 45%;
}

.sec-5 ul > li > a .screen img {
  width: 100%;
  height: 255px;
}

.sec-5 ul > li > a h2 {
  font-size: 14px;
  text-align: center;
  padding: 20px;
  color: #aaa;
}

.sec-5 h3 {
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
}

/* sec-6 */

.sec-6 {
  position: relative;
}
.image-box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 1px solid #000;
  width: 540px;
  height: 308px;
  overflow: hidden;
}

.image-box > img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  transition: .7s;
}

.image-box:hover > img {
  transform: scale(1.01);
}

/* sec-7 */

.sec-7 {
  position: relative;
  background-color: #fff;
}

.tab-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

input[type="radio"] {
  display: none;
}

input[type="radio"] + label {
  display: inline-block;
  padding: 20px 40px;
  background-color: #ccc;
  color: #999;
  font-size: 14px;
  cursor: pointer;
}
input[type="radio"]:checked + label {
  background: #aaa;
  color: #000;
}

.detail-content {
  display: none;
  width: 500px;
  height: 300px;
  padding: 40px;
  background-color: #aaa;
}

input[id="tab-01"]:checked ~ .con-01 {
  display: block;
}

input[id="tab-02"]:checked ~ .con-02 {
  display: block;
}

input[id="tab-03"]:checked ~ .con-03 {
  display: block;
}

.sec-7 > h3 {
  color: #262626;
}

/* sec-8 */

.sec-8 {
  position: relative;
  background-color: #fff;
  border-top: 1px solid #aaa;
}

.accordion {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

input[id*="answer"] {
  display: none;
}

input[id*="answer"] + label {
  display: block;
  width: 500px;
  padding: 20px;
  border: 1px solid #232188;
  border-bottom: 0;
  color: #fff;
  background-color: #3634a5;
  font-weight: 900;
  cursor: pointer;
}

input[id*="answer"] + label em {
  
}

input[id*="answer"] + label + div {
  max-height: 0;
  transition: all .35s;
  overflow: hidden;
  font-size: 11px;
  border: 1px solid #eee;
  border-top: none;
}

input[id*="answer"] + label + div ul {
  display: inline-block;
  padding: 20px;
  color: #ccc;
}

input[id*="answer"]:checked + label + div {
  max-height: 100px;
}
